.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 400px;
    height: 240px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: red;
}